* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(220,220,220);
    transition:all 0.1s;
    transition-timing-function: linear;
}
body {background-color:rgb(20,20,20); font-family:'Work Sans', sans-serif;}
.header {
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:50px;
}
.header h1 a:link {
    color:rgb(5, 163, 211);
    padding:7px;
    font-size:2.3rem;
    font-family: 'Mooli', sans-serif;
}
.header h1 a:visited {
    color:rgb(5, 163, 211);
}
.header h1 a:hover {
    color:rgb(5, 163, 211);
}
.header h1 a:active {
    color:rgb(5, 163, 211);
}
.header ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:auto;
    height:auto;
    list-style-type: none;
}
.header nav li {
    padding:7px;
}
.header a:link {
    text-decoration:none;
    font-size:1rem;
}
.header a:visited {
    color:rgb(220,220,220);
}
.header a:hover {
    color:rgb(5, 163, 211);
    font-size:1.1rem;
}
.header a:active {
    color:rgb(220,220,220);
}





/* Menu Mobile */
.menubtn {
    display:none;
}

.menumob {
    height:100%;
    background-color:rgba(0, 0, 0, 0.952);
    z-index:9;
    width:0;
    position:fixed;
    left:0;
    top:0;
    overflow-x: hidden;
    transition: all 0.5s;
}
.menumob {
    height:100%;
    background-color:rgba(0, 0, 0, 0.952);
    z-index:9;
    width:0;
    position:fixed;
    left:0;
    top:0;
    overflow-x: hidden;
    transition: all 0.5s;
}
.menumob div {
    position:relative;
    top:10%;
    width:100%;
    text-align: center;
    margin-top: 30px;
}
.menumob a:link {
    padding:0px;
    margin-bottom:10px;
    text-decoration: none;
    color:rgb(5, 163, 211);
    display:block;
    font-size: 1.80rem;
    font-weight: bold;
    font-family:'Work Sans', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    text-align:center;
}
.menumob a:visited {
    color:rgb(5, 163, 211);
}
.menumob a:hover {
    color:rgb(5, 163, 211);
}
.menumob a:link {
    color:rgb(5, 163, 211);
}
.closebtn {
    position:relative;
    top:30px;
    left:350px;
    font-size: 1.80rem;
}




.main {
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .secone {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:70%;
    padding:20px;
}
.main .secone div {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right:30px;
}
.secone div h1 {
    font-size:1.7rem;
}
div h1 span {
    color:rgb(5, 163, 211);
} 
.secone div p {
    font-size:1.1rem;
    padding-top:15px;
}
.secone div a:link {
    text-decoration: none;
}
.secone div a:visited {
    color:rgb(220,220,220);
}
.secone div a:hover {
    color:rgb(190, 190, 190);
}
.secone div a:active {
    color:rgb(220,220,220);
}
.secone img {
    border-radius:100px;
}
.secone #imgt {
    display:none;
}
.secone #imgth {
    display:none;
}
.main .sectwo {
    display: flex;
    flex-direction: column;
    width:75%;
    background-color:rgb(25,25,25);
    border-radius:10px;
    padding-right:30px;
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
    margin-top:50px;
    margin-bottom:50px;
}
.sectwo h1 {
    font-size:1.5rem;
    padding-bottom:10px;
}
.sectwo ul {
    list-style-type: disc;
    list-style-position: inside;
}
.sectwo ul li {
    padding:5px;
}
.sectwo span {
    font-size:1.1rem;
}
.sectwo a:link {
    text-decoration:none;
    font-size:1.1rem;
}
.sectwo a:visited {
    color:rgb(220,220,220);
}
.sectwo a:hover {
    font-size:1.2rem;
    color:rgb(5, 163, 211);
}
.sectwo a:active {
    color:rgb(220,220,220);
}
.secthree {
    display:flex;
    flex-direction: column;
    width:75%;
    padding-right:30px;
    padding-left:30px;
}
.secthree h1 {
    font-size:1.5rem;
    padding-bottom:10px;
}
.secthree ul {
    list-style-type: none;
}
.secthree ul li {
    padding-top:30px;
}
.secthree a:link {
    font-size: 1.1rem;
    text-decoration:none;
    color:rgb(5, 163, 211);
}
.secthree a:visited {
    color:rgb(5, 163, 211);
}
.secthree a:hover {
    font-size:1.2rem;
    color:rgb(4, 144, 187);
}
.secthree a:active {
    color:rgb(5, 163, 211);
}
.secfour {
    display:flex;
    flex-direction: column;
    width:75%;
    padding-right:30px;
    padding-left:30px;
    margin-top:50px;
    margin-bottom:30px;
}
.secfour h1 {
    font-size:1.5rem;
    padding-bottom:10px;
}
.secfour ul {
    list-style-type: none;
}
.secfour ul li {
    padding-top:30px;
}
.secfour a:link {
    font-size: 1.1rem;
    text-decoration:none;
    color:rgb(5, 163, 211);
}
.secfour a:visited {
    color:rgb(5, 163, 211);
}
.secfour a:hover {
    font-size:1.2rem;
    color:rgb(4, 144, 187);
}
.secfour a:active {
    color:rgb(5, 163, 211);
}
#allpr:link {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpr:visited {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpr:hover {
    color:rgb(197, 197, 197);
    font-size:0.9rem;
}
#allpr:active {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpo:link {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpo:visited {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpo:hover {
    color:rgb(197, 197, 197);
    font-size:0.9rem;
}
#allpo:active {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
.footer {
    width:100%;
    height:auto;
    padding:20px;
}
.footer p {
    font-size: 0.85rem;
    text-align:center;
}
.footer a:link {
    text-decoration:none;
}
.footer a:visited {
    color:rgb(220,220,220);
}
.footer a:hover {
    color:rgb(197, 197, 197);
}
.footer a:active {
    color:rgb(220,220,220);
}




/* Responsive */


@media only screen and (max-width: 800px) {
    .header {
        padding:10px;
        justify-content: space-around;
    }
    .header .nav {
        display:none;
    }
    .menubtn {
        display:inline;
        border-style:none;
        border-radius:4px;
        padding:7px;
        background-color:rgb(27, 27, 27);
        cursor:pointer;
        font-size:0.70rem;    
    }
    .main .secone {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .main .secone div {
        padding-right:0;
    }
    .secone div h1 {
        font-size:1.3rem;
    }
    .secone div p {
        font-size: 1rem;
        padding-top:15px;
    }
    .secone img {
        display: none;
    }
    .secone #imgt {
        display: block;
        margin-bottom:15px;
        margin-top:-15px;
    }
    .secone #imgth {
        display:none;
    }
    .main .sectwo {
        margin-top:0px;
    }
}
@media only screen and (max-width:750px) {
    .closebtn {
        left:300px;
    }
}
@media only screen and (max-width:650px) {
    .closebtn {
        left:250px;
    }
}
@media only screen and (max-width:550px) {
    .closebtn {
        left:200px;
    }
}
@media only screen and (max-width:450px) {
    .closebtn {
        left:150px;
    }
}
@media only screen and (max-width:350px) {
    .closebtn {
        left:130px;
    }
}
@media only screen and (max-width:300px) {
    .closebtn {
        left:120px;
    }
}
@media only screen and (max-width:270px) {
    .closebtn {
        left:100px;
    }
}
@media only screen and (max-width:230px) {
    .closebtn {
        left:90px;
    }
}

@media only screen and (max-width:500px){
    .header h1 a:link {
        font-size:1.5rem;
    }
    .header h1 a:visited {
        font-size:1.5rem;
    }
    .header h1 a:hover {
        font-size:1.5rem;
    }
    .header h1 a:active {
        font-size:1.5rem;
    }
    .menubtn {
        font-size: 0.50rem;
        padding:5px;
    }
    .secone {
        width:100%;
    }
    .secone #imgt {
        display:none;
    }
    .secone #imgth {
        display:block;
        margin-top:-20px;
        margin-bottom:10px;
    }
    .secone div h1 {
        font-size:0.90rem;
    }
    .secone div p {
        font-size: 0.70rem;
        padding-top:15px;
    }
    .sectwo h1 {
        font-size:0.90rem;
    }
    .sectwo a:link {
        font-size:0.80rem;
    }
    .sectwo a:visited {
        font-size:0.80rem;
    }
    .sectwo a:hover {
        font-size:0.80rem;
    }
    .sectwo a:active {
        font-size:0.80rem;
    }
    .sectwo span {
        font-size: 0.80rem;
    }
    .secthree h1 {
        font-size:0.90rem;
        margin-top:-20px;
    }
    .secthree ul li {
        padding-top: 15px;
    }
    .secthree a:link {
        font-size: 0.80rem;
    }
    .secthree a:visited {
        font-size: 0.80rem;
    }
    .secthree a:hover {
        font-size: 0.80rem;
    }
    .secthree a:active {
        font-size: 0.80rem;
    }
    #allpr:link {
        font-size: 0.70rem;
    }
    #allpr:visited {
        font-size: 0.70rem;
    }
    #allpr:hover {
        font-size: 0.70rem;
    }
    #allpr:active {
        font-size: 0.70rem;
    }
    .secfour {
        margin-top:20px;
        margin-bottom:50px;
    }
    .secfour h1 {
        font-size:0.90rem;
    }
    .secfour ul li {
        padding-top: 15px;
    }
    .secfour a:link {
        font-size: 0.80rem;
    }
    #allpo:link {
        font-size: 0.70rem;
    }
    #allpo:visited {
        font-size: 0.70rem;
    }
    #allpo:hover {
        font-size: 0.70rem;
    }
    #allpo:active {
        font-size: 0.70rem;
    }
    .footer {
        padding:10px;
    }
    .footer p {
        font-size:0.55rem;
    }
}