* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(220,220,220);
    transition:all 0.1s;
    transition-timing-function: linear;
}
body {background-color:rgb(20,20,20); font-family:'Work Sans', sans-serif;}
.header {
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:50px;
}
.header h1 a:link {
    color:rgb(5, 163, 211);
    padding:7px;
    font-size:2.3rem;
    font-family: 'Mooli', sans-serif;
}
.header h1 a:visited {
    color:rgb(5, 163, 211);
}
.header h1 a:hover {
    color:rgb(5, 163, 211);
}
.header h1 a:active {
    color:rgb(5, 163, 211);
}
.header ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:auto;
    height:auto;
    list-style-type: none;
}
.header li {
    padding:7px;
}
.header a:link {
    text-decoration:none;
    font-size:1rem;
}
.header a:visited {
    color:rgb(220,220,220);
}
.header a:hover {
    color:rgb(5, 163, 211);
    font-size:1.1rem;
}
.header a:active {
    color:rgb(220,220,220);
}
.main {
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .secone {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:70%;
    padding:20px;
}
.main .secone div {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right:30px;
}
.secone div h1 {
    font-size:1.7rem;
}
div h1 span {
    color:rgb(5, 163, 211);
} 
.secone div p {
    font-size:1.1rem;
    padding-top:15px;
}
.secone div a:link {
    text-decoration: none;
}
.secone div a:visited {
    color:rgb(220,220,220);
}
.secone div a:hover {
    color:rgb(190, 190, 190);
}
.secone div a:active {
    color:rgb(220,220,220);
}
.secone img {
    border-radius:100px;
}
.main .sectwo {
    display: flex;
    flex-direction: column;
    width:75%;
    background-color:rgb(25,25,25);
    border-radius:10px;
    padding-right:30px;
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
    margin-top:50px;
    margin-bottom:50px;
}
.sectwo h1 {
    font-size:1.5rem;
    padding-bottom:10px;
}
.sectwo ul {
    list-style-type: disc;
    list-style-position: inside;
}
.sectwo ul li {
    padding:5px;
}
.sectwo span {
    font-size:1.1rem;
}
.sectwo a:link {
    text-decoration:none;
    font-size:1.1rem;
}
.sectwo a:visited {
    color:rgb(220,220,220);
}
.sectwo a:hover {
    font-size:1.2rem;
    color:rgb(5, 163, 211);
}
.sectwo a:active {
    color:rgb(220,220,220);
}
.secthree {
    display:flex;
    flex-direction: column;
    width:75%;
    padding-right:30px;
    padding-left:30px;
}
.secthree h1 {
    font-size:1.5rem;
    padding-bottom:10px;
}
.secthree ul {
    list-style-type: none;
}
.secthree ul li {
    padding-bottom:5px;
    padding-top:5px;
}
.secthree a:link {
    font-size: 1.1rem;
    text-decoration:none;
    color:rgb(5, 163, 211);
}
.secthree a:visited {
    color:rgb(5, 163, 211);
}
.secthree a:hover {
    font-size:1.2rem;
    color:rgb(4, 144, 187);
}
.secthree a:active {
    color:rgb(5, 163, 211);
}
.secfour {
    display:flex;
    flex-direction: column;
    width:75%;
    padding-right:30px;
    padding-left:30px;
    margin-top:50px;
    margin-bottom:30px;
}
.secfour h1 {
    font-size:1.5rem;
    padding-bottom:10px;
}
.secfour ul {
    list-style-type: none;
}
.secfour ul li {
    padding-bottom:5px;
    padding-top:5px;
}
.secfour a:link {
    font-size: 1.1rem;
    text-decoration:none;
    color:rgb(5, 163, 211);
}
.secfour a:visited {
    color:rgb(5, 163, 211);
}
.secfour a:hover {
    font-size:1.2rem;
    color:rgb(4, 144, 187);
}
.secfour a:active {
    color:rgb(5, 163, 211);
}
#allpr:link {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpr:visited {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpr:hover {
    color:rgb(197, 197, 197);
    font-size:0.9rem;
}
#allpr:active {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpo:link {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpo:visited {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
#allpo:hover {
    color:rgb(197, 197, 197);
    font-size:0.9rem;
}
#allpo:active {
    color:rgb(220,220,220);
    font-size:0.9rem;
}
.footer {
    width:100%;
    height:auto;
    padding:20px;
}
.footer p {
    font-size: 1.0rem;
    text-align:center;
}
.footer a:link {
    text-decoration:none;
}
.footer a:visited {
    color:rgb(220,220,220);
}
.footer a:hover {
    color:rgb(197, 197, 197);
}
.footer a:active {
    color:rgb(220,220,220);
}
